/* animation */
@keyframes ani-head {
  /* 까딱까딱하게 하려고 10도정도 기울여주기 */
    to { transform: rotateX(-10deg); }
}
@keyframes ani-running-leg {
    from {
        transform: rotateX(-30deg);
    }
    to {
        transform: rotateX(30deg);
    }
}
@keyframes ani-running-arm {
    from {
        transform: rotateY(30deg);
    }
    to {
        transform: rotateY(-30deg);
    }
}

body {
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background: #c9ebbc;
    transition: background .5s;
}
body[data-char='ragirl'] {
    background: #ff7200;
}
/* world */
.world {
  /* 고정시켜주어야 한다. */
    position: fixed;
    left: 0;
    top: 0;
    /* 브라우저 영역이 꽉 차게끔 view port 단위를 명확하게 지정시켰다.*/
    width: 100vw;
    height: 100vh;
    /* 공간을 3차원으로 만들어준다.(원근적용) */
    perspective: 1000px;
}
/* stage도 화면에 꽉차게 */
.stage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* 얘도 3d로 원근감 주는 효과를 주려면
    부모뿐만 아니라 자식한테도 3d 효과를 적용해줘야한다. */
    transform-style: preserve-3d;
}
.house {
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}

/* wall컨텐츠를 같은 위치에 포개지게 만드려고
absolute를 사용했다. */
.wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
}

 /* 
 일부러 벽을 한바퀴 둘러서 감싸기 위해
 1000vw로 줬다. 
 */
.wall-left {
    width: 1000vw;
    background: #f8f8f8;
    /* y축 기준으로 회전 시키려고 90도 돌렸다.
    그리고 폭이 width: 1000vw;니까 -500vw를
    해서 옆구리에 붙게 만든다.
    */
    transform: rotateY(90deg) translateZ(-500vw);
    
}
/* right도 left와 같이 구현해준다. 양수는 앞으로 튀어나오게, 음수는 뒤로 들어가보이게 */
.wall-right {
    width: 1000vw;
    background: #f8f8f8;
    transform: rotateY(90deg) translateZ(-400vw);
}

/* 숫자가 작아지면 작아질 수록 더 뒤로간다. */
.wall-front-a { transform: translateZ(300vw); }
.wall-front-b { transform: translateZ(50vw); }
.wall-front-c { transform: translateZ(-200vw); }
.wall-front-d { transform: translateZ(-500vw); }

/*
인사말 텍스트가 
정가운데에 배치되도록
z-index 를 안해주면 제일 마지막으로
선언된 section이 가장 위에 올라온다.
*/
.wall-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wall-title {
    font-size: 5rem;
}

/* 프로그레스바 뒷배경 */
.progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 5px;
    background: #555;
}

/* 프로그레스바 막대기*/
.progress-bar {
    width: 0;
    height: 100%;
    background: #ff7510;
}

/* character */
/* 캐릭터 위치값 지정해주기 
브라우저 크기 조절에 따라 캐릭터들
크기 조절을 해주려고 뷰포트 단위를 사용했다.
*/
.character {
    position: absolute;
    left: 12%;
    bottom: 5%;
    width: 10vw;
    height: 15.58vw;
    transform-style: preserve-3d;
    /* 
    transform-style: preserve-3d; : 상위 엘리먼트에서 적용된 효과가 자식까지 적용되게 해주려고!
     */
}

.character[data-direction='forward'] { transform: rotateY(180deg); }
.character[data-direction='backward'] { transform: rotateY(0deg); }
.character[data-direction='left'] { transform: rotateY(-90deg); }
.character[data-direction='right'] { transform: rotateY(90deg); }

/* character-face-con : 각 부위별 컨테이너다. */
/* 컨테이너 안에 있는 애들이니 얘네도 부모와 같이
  transform-style: preserve-3d; 선언해준다.
 */
.character-face-con {
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
}
.character-face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    /* 사이즈를 정확히 맞추기 위해 size:cover로 지정 */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* 뒤집힌 상태에서 뒷면을 보이게 할것이냐 안보이게 할것인지!*/
}
.character-face.face-back {
    transform: rotateY(180deg);
    /* 뒷통수를 보이게 하기 위해서 rotate180도 돌려준다. */
}

/* 캐릭터 머리통 */
.character-head {
    left: calc(42 / 856 * 100%);
    /* calc(42 / 856 * 100%) = calc(left / 전체 * 100%)*/
    /* 캐릭터 전체 너비가 856이고 머리통이 가운데에 가게하기 위해서
    왼쪽 여백크기가 42px이다. 그래서 42를 856전체너비로 나눈뒤 100%하면
    딱 42px만큼 떨어지는데 화면 크기가 바뀌어도 위치값이 그대로다.
    */
    top: 0;
    z-index: 60;
    width: calc(770 / 856 * 100%);
    /* 
    캐릭터 전체넓이에서 머리통이 770px인데 그걸 나눠주고 *100% 해주기
    */
    height: calc(648 / 1334 * 100%);
    /* 
    캐릭터 전체높이에서 머리통 세로길이 648px인데 그걸 나눠주고 *100% 해주기
    */
    transform-origin: center bottom; 
    /*
    x : center, y : bottom
    머리가 까딱까딱 거리게끔 동작하게하려고
    고개 까딱까딱하게 하는 animation은 맨 위 확인!
    */
    animation: ani-head 0.6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93);
    /* cubic-bezier(0.46, 0.18, 0.66, 0.93) = 애니메이션의 가속도 */
}
.character-head-face.face-front { background-image: url('../images/ilbuni_head_front.png'); }
.character-head-face.face-back { background-image: url('../images/ilbuni_head_back.png'); }
.character-torso {
    left: calc(208 / 856 * 100%);
    top: calc(647 / 1334 * 100%);
    z-index: 50;
    width: calc(428 / 856 * 100%);
    height: calc(385 / 1334 * 100%);
    transform-origin: center center;
}
.character-torso-face.face-front { background-image: url('../images/ilbuni_body_front.png'); }
.character-torso-face.face-back { background-image: url('../images/ilbuni_body_back.png'); }
.character-arm-right {
    left: 0;
    top: calc(648 / 1334 * 100%);
    width: calc(244 / 856 * 100%);
    height: calc(307 / 1334 * 100%);
    transform-origin: right top;
}
.character-arm-right .face-front { background-image: url('../images/ilbuni_arm_0.png'); }
.character-arm-right .face-back { background-image: url('../images/ilbuni_arm_1.png'); }
.character-arm-left {
    left: calc(600 / 856 * 100%);
    top: calc(648 / 1334 * 100%);
    width: calc(244 / 856 * 100%);
    height: calc(307 / 1334 * 100%);
    transform-origin: left top;
}
.character-arm-left .face-front { background-image: url('../images/ilbuni_arm_1.png'); }
.character-arm-left .face-back { background-image: url('../images/ilbuni_arm_0.png'); }
.character-leg-right {
    left: calc(200 / 856 * 100%);
    top: calc(1031 / 1334 * 100%);
    width: calc(230 /  856 * 100%);
    height: calc(300 / 1334 * 100%);
    transform-origin: center top;
}
.character-leg-right .face-front { background-image: url('../images/ilbuni_leg_0.png'); }
.character-leg-right .face-back { background-image: url('../images/ilbuni_leg_1.png'); }
.character-leg-left {
    left: calc(414 / 856 * 100%);
    top: calc(1031 / 1334 * 100%);
    width: calc(230 /  856 * 100%);
    height: calc(300 / 1334 * 100%);
    transform-origin: center top;
}
.character-leg-left .face-front { background-image: url('../images/ilbuni_leg_1.png'); }
.character-leg-left .face-back { background-image: url('../images/ilbuni_leg_0.png'); }
.character.running .character-leg-right { animation: ani-running-leg 0.2s alternate infinite linear; }
.character.running .character-leg-left { animation: ani-running-leg 0.2s alternate-reverse infinite linear; }
.character.running .character-arm { animation: ani-running-arm 0.2s alternate infinite linear; }
body[data-char='ragirl'] .character {
    width: 12vw;
    height: calc(12vw * 1.4135);
}
body[data-char='ragirl'] .character-head {
    left: calc(23 / 948 * 100%);
    width: calc(920 / 948 * 100%);
    height: calc(750 / 1340 * 100%);
}
body[data-char='ragirl'] .character-head-face.face-front { background-image: url('../images/ragirl_head_front.png'); }
body[data-char='ragirl'] .character-head-face.face-back { background-image: url('../images/ragirl_head_back.png'); }
body[data-char='ragirl'] .character-torso {
    left: calc(273 / 948 * 100%);
    top: calc(630 / 1340 * 100%);
    z-index: 50;
    width: calc(402 / 948 * 100%);
    height: calc(444 / 1340 * 100%);
    transform-origin: center center;
}
body[data-char='ragirl'] .character-torso-face.face-front { background-image: url('../images/ragirl_body_front.png'); }
body[data-char='ragirl'] .character-torso-face.face-back { background-image: url('../images/ragirl_body_back.png'); }
body[data-char='ragirl'] .character-arm-right {
    left: calc(134 / 948 * 100%);
    top: calc(709 / 1340 * 100%);
    width: calc(138 / 948 * 100%);
    height: calc(300 / 1340 * 100%);
    transform-origin: right top;
}
body[data-char='ragirl'] .character-arm-right .face-front { background-image: url('../images/ragirl_arm_0_front.png'); }
body[data-char='ragirl'] .character-arm-right .face-back { background-image: url('../images/ragirl_arm_1_back.png'); }
body[data-char='ragirl'] .character-arm-left {
    left: calc(675 / 948 * 100%);
    top: calc(709 / 1340 * 100%);
    width: calc(138 / 948 * 100%);
    height: calc(300 / 1340 * 100%);
    transform-origin: left top;
}
body[data-char='ragirl'] .character-arm-left .face-front { background-image: url('../images/ragirl_arm_1_front.png'); }
body[data-char='ragirl'] .character-arm-left .face-back { background-image: url('../images/ragirl_arm_0_back.png'); }
body[data-char='ragirl'] .character-leg-right {
    left: calc(290 / 948 * 100%);
    top: calc(1075 / 1340 * 100%);
    width: calc(186 / 948 * 100%);
    height: calc(264 / 1340 * 100%);
    transform-origin: center top;
}
body[data-char='ragirl'] .character-leg-right .face-front { background-image: url('../images/ragirl_leg_0.png'); }
body[data-char='ragirl'] .character-leg-right .face-back { background-image: url('../images/ragirl_leg_1.png'); }
body[data-char='ragirl'] .character-leg-left {
    left: calc(474 / 948 * 100%);
    top: calc(1075 / 1340 * 100%);
    width: calc(186 / 948 * 100%);
    height: calc(264 / 1340 * 100%);
    transform-origin: center top;
}
body[data-char='ragirl'] .character-leg-left .face-front { background-image: url('../images/ragirl_leg_1.png'); }
body[data-char='ragirl'] .character-leg-left .face-back { background-image: url('../images/ragirl_leg_0.png'); }

/* character button */
.select-character {
    display: flex;
    align-items: center;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
}
.select-character-btn {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
    transition: 0.5s;
}
.select-character-btn-ilbuni {
    background-image: url('../images/ilbuni_head_front.png');
    background-size: 36px auto;
}
.select-character-btn-ragirl {
    background-image: url('../images/ragirl_head_front.png');
    opacity: 0.5;
}
body[data-char='ragirl'] .select-character-btn-ilbuni {
    opacity: 0.5;
}
body[data-char='ilbuni'] .select-character-btn-ilbuni,
body[data-char='ragirl'] .select-character-btn-ragirl {
    opacity: 1;
}
